amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.4
django-easy-pdf==0.1.0
djangoajax==2.3.3
gunicorn==19.4.5
html5lib==0.9999999
kombu==3.0.34
Pillow==3.1.1
psycopg2==2.6.1
pyPdf==1.13
PyPDF2==1.25.1
python-memcached==1.57
pytz==2016.1
reportlab==2.7
six==1.10.0
xhtml2pdf==0.0.6
